/* contact.css */

/* Style général */
body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    background-color: #8d8c8c; /* Couleur de fond différente pour la page contact */
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: #333;
    z-index: 3;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Contenu principal */
.content {
    flex: 1; /* Le contenu principal occupe tout l'espace disponible */
    padding: 100px 20px; 
    text-align: center;
    color: #333;
}

/* Formulaire */
form {
    margin: 20px auto;
    max-width: 400px;
    text-align: left;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Footer */
footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    z-index: 3;
    margin-top: auto; /* Le footer est poussé en bas de la page */
}
