/* contact.css */

/* Style général */
body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #fff;
    background-color: #0a192f; /* Fond uni sombre */
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(51, 51, 51, 0.9); /* Fond semi-transparent pour le header */
    z-index: 3; /* Au-dessus du contenu */
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 15px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    color: #66fcf1;
}

/* Footer */
footer {
    background-color: rgba(51, 51, 51, 0.9); /* Fond semi-transparent pour le footer */
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    z-index: 3; /* Au-dessus du contenu */
    width: 100%;
    margin-top: auto; /* Footer en bas de la page */
}

/* Contenu principal */
.content {
    flex: 1; /* Permet à la section contenu d'occuper tout l'espace disponible */
    padding: 100px 20px; /* Ajout de padding pour laisser de l'espace pour le header */
    text-align: center;
    color: #fff;
    margin-top: 60px; /* Espace pour le header fixe */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Icônes de contact */
.icon-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 30px;
}

.icon {
    width: 60px;
    height: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    display: block;
    transition: transform 0.3s, opacity 0.3s;
}

.icon.twitter { background-image: url('logo.png'); }
.icon.coc { background-image: url('COC.png'); }
.icon.discord { background-image: url('discord.png'); }
.icon.email { background-image: url('gmail.png'); }

.icon:hover {
    transform: scale(1.2); /* Agrandit l'icône au survol */
    opacity: 0.8; /* Change l'opacité au survol */
}

/* Image au survol */
.hover-image {
    position: fixed; /* Utiliser fixed pour qu'elle reste en place lorsqu'on défile */
    display: none;
    z-index: 10;
    pointer-events: none; /* Empêche l'interaction avec l'image */
}

.hover-image img {
    width: 200px; /* Ajuster la taille de l'image */
    height: auto;
}
