/* information.css */

/* Style général */
body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(135deg, #283048, #859398); /* Dégradé de fond */
    color: #ffffff;
    scroll-behavior: smooth; /* Défilement fluide */
}

/* Header */
header {
    width: 100%;
    background: rgba(51, 51, 51, 0.9); /* Fond semi-transparent */
    z-index: 3;
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px); /* Effet de flou */
    height: 70px; /* Hauteur fixe du header */
}

/* Navigation */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ff6f61; /* Couleur pour le hover */
}

/* Contenu principal */
.content {
    padding: 20px;
    margin-top: 70px; /* Espace pour que le contenu commence sous le header */
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

/* Sections */
.hoth-info, .clan-info {
    margin: 50px auto;
    text-align: left;
    max-width: 800px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour les sections */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out; /* Animation lors du hover */
}

.hoth-info:hover, .clan-info:hover {
    transform: translateY(-10px); /* Déplace légèrement la section vers le haut */
}

/* Titres des sections */
.hoth-info h2, .clan-info h2 {
    color: #ff6f61;
    border-bottom: 2px solid #ff6f61;
    padding-bottom: 5px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 1.8em;
}

/* Images */
.image-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 3px solid #ff6f61;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; /* Animation lors du hover */
}

.image-container img:hover {
    transform: scale(1.05); /* Agrandit légèrement l'image au hover */
}

/* Paragraphes */
.hoth-info p, .clan-info p {
    margin-bottom: 20px;
    line-height: 1.8;
}

/* Footer */
footer {
    background: rgba(51, 51, 51, 0.9);
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    width: 100%;
}
