/* informations.css */

/* Style général */
body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(135deg, #1f4037, #99f2c8); /* Dégradé différent pour la page Informations */
    color: #ffffff;
    scroll-behavior: smooth; /* Défilement fluide */
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(34, 34, 34, 0.8); /* Fond semi-transparent avec une teinte différente */
    z-index: 3;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px); /* Effet de flou léger */
}

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 25px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #99f2c8; /* Couleur de survol pour correspondre au fond */
}

/* Contenu principal */
.content {
    padding: 100px 20px 50px; /* Espace pour le header et le footer */
    max-width: 1100px;
    margin: auto;
    text-align: left;
}

/* Sections */
.section {
    margin-bottom: 40px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.4); /* Fond semi-transparent différent */
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3); /* Ombre subtile */
    transition: background-color 0.3s ease-in-out; /* Animation de changement de fond */
}

.section:hover {
    background-color: rgba(0, 0, 0, 0.6); /* Change de couleur de fond au survol */
}

/* Titres des sections */
.section h2, .section h3 {
    color: #1f4037; /* Couleur de titre adaptée au thème vert */
    border-bottom: 1px solid #99f2c8;
    padding-bottom: 8px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

/* Paragraphes */
.section p {
    margin-bottom: 15px;
    line-height: 1.6;
}

/* Images */
.clan-image {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.clan-image img {
    max-width: 100%;
    height: auto;
    border: 2px solid #99f2c8;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.clan-image img:hover {
    transform: scale(1.1); /* Agrandit l'image légèrement au hover */
}

/* Footer */
footer {
    background: rgba(34, 34, 34, 0.8);
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}

/* Défilement et alignement des sections */
.section {
    scroll-snap-align: start;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
    overflow-y: auto; /* Active le défilement vertical */
    height: 100vh; /* Hauteur totale pour le viewport */
}
