/* stats.css */

/* Style général */
body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom, #0a192f, #1e3c72); /* Dégradé élégant pour l'espace */
    color: #ffffff;
    scroll-behavior: smooth; /* Défilement fluide */
    overflow-x: hidden; /* Évite le défilement horizontal */
}

/* Header */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond plus sombre pour le header */
    z-index: 3; /* Au-dessus du contenu */
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); /* Ajoute un effet de flou */
    height: 70px; /* Hauteur fixe du header */
}

/* Navigation */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
}

header nav ul li a:hover {
    color: #66fcf1;
    transform: scale(1.1); /* Agrandit légèrement le texte au survol */
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond plus sombre pour le footer */
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    z-index: 3; /* Au-dessus du contenu */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); /* Ajoute un effet de flou */
}

/* Contenu principal */
.content {
    padding: 80px 20px 60px; /* Espace pour le header fixe et padding pour le footer */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 140px); /* Hauteur disponible après le header et le footer */
}

/* Conteneur Power BI */
.powerbi-container {
    width: 90%; /* Largeur du conteneur */
    max-width: 1200px; /* Largeur maximale pour le conteneur */
    margin: 20px 0; /* Espace autour du conteneur */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Ombre autour du conteneur */
    border-radius: 10px; /* Coins arrondis */
    overflow: hidden; /* Assure que le contenu reste dans le conteneur arrondi */
}

iframe {
    border: none; /* Retirer la bordure de l'iframe */
    width: 100%; /* Utilise toute la largeur du conteneur */
    height: 600px; /* Hauteur fixe pour l'iframe */
    border-radius: 10px; /* Coins arrondis */
}
