/* stats.css */

/* Style général */
body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background: linear-gradient(to bottom, #0a192f, #1e3c72); /* Dégradé de fond pour l'espace */
    color: #ffffff;
    scroll-behavior: smooth; /* Défilement fluide */
    overflow-y: auto; /* Permet le défilement vertical */
    overflow-x: hidden; /* Empêche le défilement horizontal */
}

/* Header */
header {
    position: fixed; /* Fixe le header en haut de la page */
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond plus sombre pour le header */
    z-index: 3; /* Au-dessus du décor */
    padding: 15px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); /* Ajoute un effet de flou */
    height: 70px; /* Hauteur fixe du header */
}

/* Navigation */
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s, transform 0.3s;
}

header nav ul li a:hover {
    color: #66fcf1;
    transform: scale(1.1); /* Agrandit légèrement le texte au survol */
}

/* Footer */
footer {
    position: relative; /* Change de fixed à relative pour permettre le défilement */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fond plus sombre pour le footer */
    color: #ffffff;
    text-align: center;
    padding: 15px 0;
    z-index: 2; /* Au-dessus du contenu principal mais derrière le header */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px); /* Ajoute un effet de flou */
    margin-top: 20px; /* Ajoute un espace entre le contenu et le footer */
}

/* Contenu principal */
.content {
    position: relative;
    z-index: 2; /* Position avant le décor */
    text-align: center;
    padding-top: 90px; /* Ajuste le padding pour laisser de l'espace pour le header */
    padding-bottom: 20px; /* Laisse de l'espace pour le footer */
    min-height: calc(100vh - 90px); /* Hauteur disponible après le header */
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Commence le contenu en haut */
    align-items: center;
}

/* Conteneur Power BI */
.powerbi-container {
    width: 100%;
    max-width: 900px; /* Largeur maximale pour l'iframe */
    margin-top: 20px; /* Espace entre le header et le rapport Power BI */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Ombre autour du conteneur */
    border-radius: 10px; /* Coins arrondis */
    overflow: hidden; /* Assure que le contenu reste dans le conteneur arrondi */
}

iframe {
    border: none; /* Retirer la bordure de l'iframe */
    width: 100%; /* Utilise toute la largeur du conteneur */
    height: 100px; /* Hauteur fixe pour l'iframe */
}
